<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="msvalidate.01" content="3CAC7DFFFF7395BC7531E80AA4BB2A75" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">
    <link rel="apple-touch-icon" sizes="57x57" href="{{asset "/apple-icon-57x57.png"}}">
    <link rel="apple-touch-icon" sizes="60x60" href="{{asset "/apple-icon-60x60.png"}}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "/apple-icon-72x72.png"}}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{asset "/apple-icon-76x76.png"}}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "/apple-icon-114x114.png"}}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{asset "/apple-icon-120x120.png"}}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{asset "/apple-icon-144x144.png"}}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{asset "/apple-icon-152x152.png"}}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{asset "/apple-icon-180x180.png"}}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{{asset "/android-icon-192x192.png"}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{asset "/favicon-32x32.png"}}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{asset "/favicon-96x96.png"}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{asset "/favicon-16x16.png"}}">
    <link rel="manifest" href="{{asset "/manifest.json"}}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{asset "/ms-icon-144x144.png"}}">
    <meta name="theme-color" content="#ffffff">



    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/webkid.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
         <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="poweredby">Al Images are taken from Public Domain, source: <a href="https://google.com">google</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.xml2json.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/webkid.js"}}"></script>

</body>
</html>
